@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    @apply relative overflow-hidden;
  }

  .bg-image {
    @apply max-w-[200%] customMid:w-full -z-10;
  }

  .section-wrapper {
    @apply block customMid:absolute customMid:top-[50%] customMid:translate-x-[-50%] customMid:translate-y-[-49%] customMid:z-50 p-12 bg-black customMid:bg-transparent text-white text-center;
  }

  .section-heading {
    @apply text-[72px] customMid:text-[110px] font-bold font-header text-white mb-4 tracking-tighter leading-[0.8];
  }

  .section-description {
    @apply space-y-4 text-lg font-sans tracking-tight leading-tight max-w-[480px] mx-auto;
  }

  .description-link {
    @apply inline font-bold underline cursor-pointer;
  }

  .button {
    @apply bg-white w-[208px] py-3 rounded-full font-black font-header text-xl hover:bg-yellow-400 transition-colors cursor-pointer;
  }

  .team-image {
    @apply rounded-full w-36 h-36 mx-auto object-cover mb-2;
  }

  .timeline-line {
    @apply h-[1px] w-[200px] bg-white;
  }

  .timeline-large-circle {
    @apply w-8 h-8 rounded-full bg-white flex items-center justify-center;
  }

  .timeline-small-circle {
    @apply w-4 h-4 bg-black rounded-full;
  }

  .fade-in-section {
    @apply opacity-5 invisible transition duration-300 ease-in-out;
  }

  .is-visible {
    @apply opacity-100 translate-y-[-50%] visible;
  }
}

@font-face {
  font-family: "itc-avant-garde-gothic-lt-bold";
  src: url("../font/ITC\ Avant\ Garde\ Gothic\ LT\ Bold.otf");
}

@font-face {
  font-family: "Helvetica";
  src: url("../font/helvetica-light-587ebe5a59211.ttf");
}
